* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
 
  height: 1vh;
  background: linear-gradient(to right, #f5d927, #e66400);

}

input {
  background-color: rgba(245, 245, 245, 0.31);
  border: none;
  border-bottom: 2px solid rgb(255, 94, 0);
  padding: 20px;
  width: 380px;
  font-size: 25px;
  position: relative;
}

.search-container {
  display: grid;
  align-items: center;
  justify-content: center;
  padding:50vh;
}


ul.has-suggestions {
  background-color: rgba(245, 245, 245, 0.31);
  width: 380px;
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
}
ul li {
  list-style-type: none;
  padding: 5px;
}
ul li:hover {
  background-color: #dd4422;
  cursor: pointer;
}


.suggestions {
  display: block;
}

